* {
    margin:0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    text-align: center;    
    padding-top: 160px;
    background-image: url(https://i.ibb.co/yPLT5PS/ba.jpg);     
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    height: 100vh;
}

main h3 {
    color: #FFFFFF;    
    
    font-family: 'Inter';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;   
}

main h3 span {
    color:#FFC700;
}

main h1 {
    color: #FFC700;
    font-family: 'Emilys Candy';
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
}

main p {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.botton {    
    margin-top: 72px;
}

a {
    color:white; 
    padding: 12px 32px; 
}

.play {
    text-decoration: none;   
    color: black;
    background: #FFC700;
   
}

.read-more {
    transition: .2s;
}

.read-more:hover { 
    background: #FFC700;   
    color: black;
    opacity: 1;
    
    border: none;
}

